<div class="container">
  <%- partial('../layouts/partials/header') %> 
  <%- partial('../layouts/partials/navbar') %> 
  <p>Esta es una web creada para el proyecto final de SailsJS en <strong>next_u</strong>. Fue una excelente experiencia y en realidad se aprende bastante</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum recusandae, beatae aliquam commodi accusantium explicabo cum maxime perferendis repellat sed nobis eligendi iure dolore voluptatem minus veniam laudantium amet voluptates? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus omnis eos cum placeat dolorem voluptatum in, incidunt rerum dolores tenetur numquam voluptas aperiam fugiat nemo veritatis nam fuga odio temporibus!</p>
  <%- partial('../layouts/partials/footer') %> 
</div>